In [1]:
#Inicializando variables
x = 10     #variable de tipo entero
print(x)   #función para imprimir los valores de las variables

#Se puede utilizar comillas dobles o simples para crear una cadena
cadena = "Hola Mundo"    #varible de tipo cadena
print(cadena)

10
Hola Mundo

In [2]:
#Asigna un mismo valor a tres variables
x = y = z = 10
print(x,y,z)

10 10 10

In [3]:
#La función type() permite conocer el tipo de una variable
type(x)

int

In [4]:
type(cadena)

str

In [5]:
#Se pueden cambiar los valores de las variables y el tipo se cambia automáticamente
x = "Hola Mundo"
cadena = 10

In [6]:
type(x)

str

In [7]:
type(cadena)

int

In [8]:
SEGUNDOS_POR_DIA = 60 * 60 * 24
PI = 3.14

In [9]:
#Inicializando cadenas
cadena1 = 'Hola '
cadena2 = "Mundo" 
print(cadena1)
print(cadena2)
concat_cadenas = cadena1 + cadena2 #Concatenación de cadenas
print(concat_cadenas)

Hola
Mundo
Hola Mundo

In [10]:
#Para concatenar un número y una cadena se debe usar la función str()
num_cadena = concat_cadenas +' '+ str(3)  #Se agrega una cadena vacía para agregar un espacio
print(num_cadena)

Hola Mundo 3

In [11]:
#El valor de la variable se va a imprimir en el lugar donde se encuentre {} en la cadena
num_cadena = "{} {} {}".format(cadena1, cadena2, 3)
print(num_cadena)

Hola  Mundo 3

In [12]:
#Cuando se agrega un númmero dentro de {#}, el valor la variable que se encuentra en esa posicón 
#dentro de la función format(), será impreso.
num_cadena = "Cambiando el orden:  {1}  {2}  {0} #".format(cadena1, cadena2, 3)
print(num_cadena)

Cambiando el orden:  Mundo  3  Hola  #

In [13]:
#Para el exponente se  puede utilizar asterisco
print( 1 + 5 )
print( 6 * 3 )
print( 10 - 4 )
print( 100 / 50 )
print( 10 % 2 )
print( ((20 * 3) + (10 +1)) / 10 )
print( 2**2 )

6
18
6
2.0
0
7.1
4

In [14]:
False and True

False

In [15]:
print (7 < 5)  #Falso

print (7 > 5) #Verdadero

print ((11 * 3)+2 == 36 - 1)  #Verdadero

print ((11 * 3)+2 >= 36)   #Falso

print ("curso" != "CuRsO") #Verdadero

False
True
True
False
True

In [16]:
#Declaracion de una lista simple
lista_diasDelMes=[31,28,31,30,31,30,31,31,30,31,30,31]

print (lista_diasDelMes)       #imprimir la lista completa
print (lista_diasDelMes[0])   #imprimir elemento 1
print (lista_diasDelMes[6])   #imprimir elemento 7
print (lista_diasDelMes[11])  #imprimir elemento 12

[31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
31
31
31

In [17]:
#Declaracion de listas anidadas

lista_numeros=[['cero', 0],['uno',1, 'UNO'], ['dos',2], ['tres', 3], ['cuatro',4], ['X',5]]

print (lista_numeros)      #imprimir lista completa

print (lista_numeros[0])    #imprime el elemento 0 de la lista
print (lista_numeros[1])    #imprime el elemento 1 de la lista

print (lista_numeros[2][0]) #imprime el primer elemento de la lista en la posicion 2
print (lista_numeros[2][1]) #imprime el segundo elemento de la lista en la posicion 2

print (lista_numeros[1][0])
print (lista_numeros[1][1])
print (lista_numeros[1][2])

[['cero', 0], ['uno', 1, 'UNO'], ['dos', 2], ['tres', 3], ['cuatro', 4], ['X', 5]]
['cero', 0]
['uno', 1, 'UNO']
dos
2
uno
1
UNO

In [18]:
#Cambiando el valor de uno de los elementos de la lista

lista_numeros[5][0] = "cinco"
print (lista_numeros[5])

['cinco', 5]

In [19]:
#Declaracion de una tupla
tupla_diasDelMes=(31,28,31,30,31,30,31,31,30,31,30,31)

print (tupla_diasDelMes)       #imprimir la tupla completa
print (tupla_diasDelMes[0])    #imprimir elemento 1
print (tupla_diasDelMes[3])    #imprimir elemento 4
print (tupla_diasDelMes[1])   #imprimir elemento 2

(31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31)
31
30
28

In [20]:
#Declaracion de tuplas anidadas

tupla_numeros=(('cero', 0),('uno',1, 'UNO'), ('dos',2), ('tres', 3), ('cuatro',4), ('X',5))

print (tupla_numeros)        #imprimir tupla completa

print (tupla_numeros[0])     #imprime el elemento 0 de la tupla
print (tupla_numeros[1])     #imprime el elemento 1 de la tupla

print (tupla_numeros[2][0])  #imprime el primer elemento de la tupla en la posicion 2
print (tupla_numeros[2][1])  #imprime el segundo elemento de la tupla en la posicion 2

print (tupla_numeros[1][0])
print (tupla_numeros[1][1])
print (tupla_numeros[1][2])

(('cero', 0), ('uno', 1, 'UNO'), ('dos', 2), ('tres', 3), ('cuatro', 4), ('X', 5))
('cero', 0)
('uno', 1, 'UNO')
dos
2
uno
1
UNO

In [21]:
#Probando la mutabilidad de las listas vs la no mutabilidad de las tuplas
print("valor actual {}".format(lista_diasDelMes[0]))
lista_diasDelMes[0] = 50
print("valor cambiado {}".format(lista_diasDelMes[0]))
tupla_diasDelMes[0] = 50   #Esta asignación manda un error, ya que no se pueden cambiar los valores de las tuplas

valor actual 31
valor cambiado 50

TypeError: 'tuple' object does not support item assignment

In [22]:
#Se debe importat la librería para hacer uso de namedtuple
from collections import namedtuple

#Se crea la tupla con nombre
#El primer argumento es el nombre de la tupla, mientras que el segundo argumento son los campos
#p es la referencia a la tupla
planeta = namedtuple('planeta', ['nombre', 'numero'])

#Se crea el planeta 1 y se agregan a la tupla los valores correspondientes a los campos
planeta1 = planeta('Mercurio', 1)
print(planeta1)

#Se crea el planeta 2
planeta2 = planeta('Venus', 2)

#Se imprimen los valores de los campos
#Usando la referencia se llama a cada uno de sus campos
print(planeta1.nombre, planeta1.numero)  
#Se obtienen los valores por el orden de los campos
print(planeta2[0], planeta2[1])  

print('Campos de la tupla: {}'.format(planeta1._fields))

planeta(nombre='Mercurio', numero=1)
Mercurio 1
Venus 2
Campos de la tupla: ('nombre', 'numero')

In [23]:
#Al igual que las tuplas, éstas no son mutables, si se trata de cambiar el contenido, se genera un error
planeta1.nombre = 'Tierra'

AttributeError: can't set attribute

In [24]:
#Creando un diccionario
elementos = { 'hidrogeno': 1, 'helio': 2, 'carbon': 6 }

#EL momento de la impresion, pueden aparecer en diferente orden del introducido
print (elementos)

print (elementos['hidrogeno'])

{'hidrogeno': 1, 'helio': 2, 'carbon': 6}
1

In [25]:
#Se pueen agregar elementos al diccionario
elementos['litio'] = 3
elementos['nitrogeno'] = 8

print (elementos)  #Imprimiendo todos los elementos, nótese que los elementos no están ordenados

{'hidrogeno': 1, 'helio': 2, 'carbon': 6, 'litio': 3, 'nitrogeno': 8}

In [26]:
#Creando un nuevo diccionario
elementos2 = {}
elementos2['H'] = {'name': 'Hydrogen', 'number': 1, 'weight': 1.00794}
elementos2['He'] = {'name': 'Helium', 'number': 2, 'weight': 4.002602}

print (elementos2)

{'H': {'name': 'Hydrogen', 'number': 1, 'weight': 1.00794}, 'He': {'name': 'Helium', 'number': 2, 'weight': 4.002602}}

In [27]:
#Imprimiendo los datos de un elemento del diccionario
print (elementos2['H'])
print (elementos2['H']['name'])
print (elementos2['H']['number'])
elementos2['H']['weight'] =  4.30  #Cambiando el valor de un elemento
print (elementos2['H']['weight'])

{'name': 'Hydrogen', 'number': 1, 'weight': 1.00794}
Hydrogen
1
4.3

In [28]:
#Agregando elementos a una llave
elementos2['H'].update({'gas noble':True})
print (elementos2['H'])

{'name': 'Hydrogen', 'number': 1, 'weight': 4.3, 'gas noble': True}

In [29]:
#Muestra todos los elementos del diccionario
print (elementos2.items())

#Muestra todas las llaves del diccionario
print (elementos2.keys())

dict_items([('H', {'name': 'Hydrogen', 'number': 1, 'weight': 4.3, 'gas noble': True}), ('He', {'name': 'Helium', 'number': 2, 'weight': 4.002602})])
dict_keys(['H', 'He'])

In [30]:
#Las funciones pueden recibir n número de parámetros, no se necesita indicar el tipo
def imprime_nombre(nombre):
    print("hola "+nombre)  #Las cadenas se pueden concatenar con el +

In [31]:
#Llamada a la función
imprime_nombre("JJ")

hola JJ

In [32]:
#Definiendo una función que regresa el cuadrado de un número
def cuadrado(x):
    return x**2

In [33]:
x = 5
#La función format() sirve para convertir los parámetros que recibe, en cadenas; éstos valores son reemplazadas
#por las llaves de la cadena.
print("El cuadrado de {} es {}".format(x, cuadrado(x)))   #La función cuadrado() regresa un valor

El cuadrado de 5 es 25

In [34]:
#Definiendo una función que regrese más de un valor
def varios(x):
    return x**2, x**3, x**4

In [35]:
#Los valores que regresa la función pueden ser guardado en variables separadas por ,
val1, val2, val3 = varios(2)
print("{} {} {}".format(val1, val2, val3))

4 8 16

In [36]:
#Función con un parámetro con un valor por defecto
def cuadrado_default(x=3):
    return x**2

In [37]:
#Como la función tiene un valor por defailt, si se manda llamar la función sin especificar el parámetro, se toma el que
#tiene por defecto
cuadrado_default()

9

In [38]:
#La función regresa tres, valores, pero sólo nos interesa el primero y el tercero
val4, _, val5 = varios(2)
print("{} {}".format(val4, val5))

4 16

In [39]:
#Se crea una variable en el espacio global de nombres 
vg = 'Global'

In [40]:
#Se crea una función que imprime la variable global
def funcion_v1():
    print(vg)

In [41]:
#Llamada a la función que imprime la variable global
funcion_v1()

#Imprime la variable global
print(vg)

Global
Global

In [42]:
#Se crea una variable local que tiene el mismo nombre que la variable global
def funcion_v2():
    vg = "Local"
    print(vg)

In [43]:
#Llamada a la función 
funcion_v2()  #Imprime valor local

#Imprime la variable global
print(vg)

Local
Global

In [44]:
#Se trata de imprimir el valor de la variable global, a diferencia de la función_v1(), se creó en el 
#espacio local de la funcion_v3() una variable con el mismo nombre, por lo que se reemplaza la variable
#global
def funcion_v3():
    print(vg)
    vg = "Local"
    print(vg)

In [45]:
#Como se tiene una variable local y no se le ha asignado un valor, se genera un error
funcion_v3()

UnboundLocalError: local variable 'vg' referenced before assignment

In [46]:
#Para resolver el problema anterior y especificar que se quiere hacer uso de la variable global dentro de la
#función funcion_v4(), se tiene que agregar la palabra reservada global
def funcion_v4():
    global vg
    print(vg)
    vg = "Local"
    print(vg)

In [47]:
#Al momento de ejecutar la función se imprime el valor que tenía asignado vg antes de se modificado por la función.
#Después de asignar el valor, éste es impreso
funcion_v4()

#Se imprime la variable global con su valor modificado
print(vg)

Global
Local
Local